@font-face {
  font-family: "Open Sans";
  src: url("./resources/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #eef5fc;
}

h2 {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
